<%- include("partials/header"); -%>

<h1>Blog Posts</h1>
<p><%- startingContent  %></p>
<a href="https://learngraduation.blogspot.com/">Learngraduation Old website</a>
<% posts.forEach(function(post){ %>
<div class="ntry">
    <div class="pCntn">
    <a  href="/posts/<%=post.purl%>">
            <h1 class="pTtl aTtl sml"> <%-post.title %> </h1>
            </a>
        <p class="pSnpt">
             <%- post.disc.substring(0,100) + "..." %>
        </p>
        <a  href="/posts/<%=post.purl%>">Read more.</a>
    </div>
</div>
<% }) %>

<%- include("partials/sidebar"); -%>
<%- include("partials/footer"); -%>
