<%- include("partials/header"); -%>
<article class="ntry ps post">
<h1> <%- title %></h1>

<p><%- content %> </p>
</article>

<%- include("partials/sidebar.ejs"); -%>
<%- include("partials/footer"); -%>
