<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
      <h1><%- title %></h1>
      <span><%- date %></span>
      <p><%- disc %></p>
      <img src="<%- pimg %>" alt="<%- title %>">
      <div><%- content %></div>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/" role="button">Home</a>
  </div>
</div>

<%- include('partials/footer') %>
