<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Update Post</h1>
    <p class="secret-text">All field are Important</p>
    <div id="url"><%- url %></div>
    <div class="form-group row">
      <label for="title">Title:</label><br>
      <input required class="form-control form-control-lg " type="text" id="title" value="<%- title %>" ><br><br>
      <label for="disc">Disc:</label><br>
      <input required class="form-control " type="text" id="disc" value="<%- disc %>"><br><br>
      <label for="pimg">Thumbnail:</label><br>
      <input required class="form-control" type="text" id="pimg" value="<%- pimg %>"><br><br>
        <label for="editor">Content:</label><br>
      <div class="form-control " contenteditable="true" id="editor"><%- content %></div>
      <button class="btn btn-dark" onclick="savePost()">Save Post</button>
    </div>
  </div>
</div>
<%- include('partials/footer') %>

<script>

  
  function savePost() {
    let postTitle = document.getElementById('title').value;
    let postContent = document.getElementById('editor').innerText;
    let url = document.getElementById("url").innerText;
    let disc = document.getElementById("disc").value;
    let pimg = document.getElementById("pimg").value;
    fetch('/update', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: new URLSearchParams({
        url: url,
        title: postTitle,
        disc: disc,
        pimg: pimg,
        content: postContent
      })
    }).then(response => {
      if (response.ok) {
        window.location.href = '/secrets';
      }
    }).catch(error => {
      alert("Somthing Went Wrong")
      console.error(error);
    });



  }
</script>